* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;    
}

body {
    background-color: #A38D75;
}

header {
    background-color: #866D52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

header img {
    width: 10vh;
    margin-left: 7.5rem;
}

nav {
    margin-right: 7.5rem;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 20px;
    font-family: "MuseoModerno", sans-serif;
}

#header-banner img {
    width: 100%;
    margin-bottom: 3rem;
}

.container {
    width: 60%;
    background-color: #866D52;
    border: 1px solid #866D52;
    border-radius: 2vw;
    box-shadow: 7px 7px 5px #69553f;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 3rem 0;
}

.text-container {
    width: 85%;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;
    font-family: "Afacad Flux", sans-serif;
    font-size: 21px;
}

.article-split1 {
    text-align: center;
}

#tiger-on-wood {
    height: 25vw;
    width: 45vw;
    padding-bottom: 2rem;
    /* padding-top: 0.5rem; */
}

#splitted-text1 {
    font-family: "Afacad Flux", sans-serif;
    font-size: 21px;
}

h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 2rem;
}

.subtitle1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

#tiger-banner {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container {
    width: 60%;
    background-color: #866D52;
    border: 1px solid #866D52;
    border-radius: 2vw;
    box-shadow: 7px 7px 5px #69553f;
}

.subtitle2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#subtitle-alone {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

.article-split2 {
    text-align: center;
}

#smilodon {
    width: 45vw;
    margin-bottom: 2rem;
}

.container2 {
    width: 60%;
    background-color: #866D52;
    border: 1px solid #866D52;
    border-radius: 2vw;
    box-shadow: 7px 7px 5px #69553f;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
}

h3 {
    font-size: 26px;
    margin-top: 3rem;
}

#lion-sun {
    width: 45vw;
    margin-bottom: 2rem;
}

#serval1 {
    width: 45vw;
    margin-bottom: 2rem;
}

#bengal-banner {
    width: 100%;
    margin-top: 5rem;
}

#two-serval {
    width: 45vw;
}

#bengal2 {
    width: 45vw;
    margin-bottom: 3rem;
}

footer {
    background-color: #866D52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem 0;
}

#img-footer {
    margin-left: 7.5rem;
}

#img-footer img {
    width: 2.5vw;
    padding: 0 0.5rem;
}

footer ul {
    display: flex;
}

footer li {
    list-style-type: none;
}

footer a {
    padding: 0 3rem;
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 20px;
    font-family: "MuseoModerno", sans-serif;
}

#logo-site {
    width: 10vh;
    margin-right: 7.5rem;
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer ul {
        display: inline-block;
        text-align: center;
    }

    #img-footer img {
        display: block;
        width: 3vw;
        padding: 0.3rem 0;
    }
}

@media (max-width: 631px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }

    #img-footer {
        margin-left: 0;
        margin-bottom: 1rem;
        display: flex;
    }

    #img-footer img {
        width: 5vw;
        padding: 0 1rem;
    }

    footer li {
        display: block;
        padding-bottom: 1rem;
    }

    footer a {
        padding: 0;
    }

    #logo-site {
        margin-right: 0;
    }
}

@media (max-width: 529px) {
    nav a {
        margin-left: 10vw;
    }
}

@media (max-width: 425px) {
    header {
        display: flex;
        text-align: center;
    }

    header img {
        margin-left: 25vw;
    }
}